body {
	font-family: 'Teko', sans-serif;
}
footer {
	background: #97DECE;
	padding: 86px 0;
	margin-top: 80px;
}
.main-btn{
	padding:15px;
	padding-left:20px;
	padding-right:20px;

}
#logoutama{
	margin-left:15px;
}
.card-profile{
	size:100px;
	
}
.single-content {
	text-align: center;
	padding: 115px 0;
}
.single-box p {
	color: #fff;
	line-height: 1.9;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.socials i {
	font-size: 18px;
	margin-right: 15px;
}
.card-over-text{
	position: absolute;
	margin-top: -60%;
	margin-left: 40%;
	text-align: center;
}
.img-area{
	position: relative;
}
.card-body{
	position: relative;
}
.card-text{
	margin : 20px;
	margin-right : 15%;
	margin-left : 15%;
	text-align : left;
}
.name-job-review{
	margin-left: 20px;
}
.area3{
	position: relative;
}
.top-banner{
	width:100%;
	background: url(bg-1.png) no-repeat center;
	background-size:cover;
	padding:16.875rem 0 9.375rem;
}
.mid-banner{
	width:100%;
	background: url(bg-2.png) no-repeat center;
	background-size:cover;
	padding:16.875rem 0 9.375rem;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-brand span {
	color: green;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}
.carousel-item {
	height: 100vh;
	min-height: 300px;
	background-color: #f7f5eb;
}
.carousel-caption {
	bottom: 0;
	z-index: 2;
	text-align: left;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	color: #262626;
}
.carousel-caption p {
	font-size: 18px;
	line-height: 1.9;
	color: #262626;
}
.banner-info .btn {
	padding: 10px 60px;
	font-size: 30px;
	text-transform: uppercase;
	color: #ffff;
	background: green;
}
.banner-info {
	padding-top: 25%;
}
.imgBox img {
	width: 650px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	height: 80px;
	width: 80px;
	outline: black;
	background-size: 100%, 100%;
	border-radius: 50%;
	background-image: none;
	color: #fff;
	background: green;
}
.carousel-control-next-icon:after {
	content: '->';
	font-size: 55px;
	color: #fff;
}
.carousel-control-prev-icon:after {
	content: '';
	font-size: 55px;
	color: #fff;
}
.carousel-indicators [data-bs-target] {
	background-color: green;
}
.navbar-light .navbar-toggler {
	color: #FFF;
	border-color: transparent;
	margin-right:15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-nav {
		text-align: center;
	}
	.navbar-collapse {
		background: green;
	}
	.carousel-caption {
		bottom: 370px;
	}
	.carousel-caption p {
		width: 100%;
	}
	.navbar-collapse .nav-link {
		color: #fff !important;
	}
	.carousel-caption {
		bottom: 0;
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	#logo-footer{
		width:40%;
	}
	#logoutama{
		margin-left:15px;
		width:40%;
	}
	#hero2{
		background-image : none;
		background-color : blue;
	}
	.navbar-nav {
		text-align: center;
	}
	.navbar-collapse {
		background: green;
	}
	.navbar-collapse .nav-link {
		color: #fff !important;
	}
	.carousel-caption {
		bottom: 0;
		text-align: center;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
	.banner-info .btn {
		padding: 0 15px;
		font-size: 20px;
	}
	.imgBox .img-fluid {
		max-width: 80%;
		height: auto;
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
		height: 50px;
		width: 50px;
	}
	.carousel-control-next-icon:after {
		font-size: 30px;
	}
	.carousel-control-prev-icon:after {
		font-size: 30px;
	}
	
}