@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  background: #e5e7eb;
  position: relative;
  display: flex;
}

#menu {
  background-color: #111827;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s ease;
}

#menu.activeWeb {
  left: -250px;
}

#manajemen {
  /* display: none; */
  opacity: 0;
  height: 0;
  transition: 0.9s ease;
}

#manajemen div {
  padding: 10px 10px;
  font-size: 14px;
  transition: 0.2s;
}

#manajemen div a {
  padding-left: 60px;
  text-decoration: none;
  color: rgb(134, 141, 151);
}
#manajemen div:hover {
  background: #253047;
  cursor: pointer;
}

#manajemen div:hover a {
  color: #f3f4f6;
}

#manajemen.active2 {
  /* display: block; */
  opacity: 1;
  height: auto;
}

#menu .logo {
  display: flex;
  align-items: center;
  align-content: center;
  color: #fff;
  padding: 30px 0 0 30px;
}

#menu .logo img {
  width: 40px;
  margin-right: 15px;
}

#menu .items {
  margin-top: 40px;
}

#menu .items li {
  list-style: none;
  padding: 15px 0;
  transition: 0.3s ease;
}

#menu .items li:hover {
  background: #253047;
  cursor: pointer;
}

#menu .items li:nth-child(4) {
  z-index: 1;
  position: relative;
}

#menu .items li:nth-child(7) {
  border-left: 4px solid #fff;
}

#menu .items li span {
  color: rgb(134, 141, 151);
  width: 30px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  /* font-size: 14px; */
  font-size: 22px;
  margin: 0 10px 0 25px;
}

#menu .items li:hover span,
#menu .items li:hover a {
  color: #f3f4f6;
}

#menu .items li a {
  text-decoration: none;
  color: rgb(134, 141, 151);
  font-weight: 300px;
  transition: 0.3s ease;
}

#interface {
  width: calc(100% - 250px);
  margin-left: 250px;
  position: relative;
  transition: 0.3s ease;
}

#menu.activeWeb ~ #interface {
  width: 100%;
  margin-left: 0px;
  /* margin-left: 250px; */
  transition: 0.3s ease;
}

#interface .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 30px;
  padding-left: 13px;
  border-bottom: 3px solid #594ef7;
  position: fixed;
  width: calc(100% - 250px);
  transition: 0.3s ease;
}

#menu.activeWeb ~ #interface .navigation {
  width: 100%;
  transition: 0.3s ease;
}

#interface .navigation .sub-menu-wrap {
  position: absolute;
  top: calc(0% + 68px);
  right: 2%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.material-symbols-outlined:hover,
.n1 i {
  cursor: pointer;
}

#interface .navigation .sub-menu {
  background: #fff;
  padding: 20px;
  margin: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}
.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link span {
  padding: 8px;
  margin-right: 15px;
}
.sub-menu-link:hover p {
  font-weight: 600;
}

/* #interface .navigation .sub-menu-wrap img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
} */

.n1 .fa-solid {
  font-size: 20px;
}

.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 14px;
  border: 1px solid #d7dbe6;
  border-radius: 4px;
}

#interface .navigation .search i {
  margin-right: 14px;
}

#interface .navigation .search input {
  border: none;
  outline: none;
  font: 14px;
}

#interface .navigation .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#interface .navigation .profile i {
  display: flex;
  align-items: center;
  font-size: 19px;
  margin-right: 20px;
  /* padding: 20px; */
  font-weight: 400;
}
#interface .navigation .profile img {
  width: 30px;
  margin-right: 20px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.i-name {
  color: #444a53;
  margin-bottom: 2px;
  /* padding: 30px 30px 0 30px; */
  font-size: 24px;
  font-weight: 700;
  margin-top: 70px;
}

#p-wajib {
  /* margin-left: 30px; */
}

.i-name-p {
  width: 94%;
  margin: 100px auto 0 auto;
}

.values {
  padding: 30px 30px 0 30px;
  display: flex;
  gap: 40px;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
}

.values .val-box {
  background: #fff;
  /* width: 235px; */
  width: 22%;
  height: auto;
  /* width: auto; */
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.values .val-box i {
  font-size: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  /* background: chartreuse; */
  margin-right: 15px;
}

.values .val-box:nth-child(1) i {
  background: #7b74ec;
}
.values .val-box:nth-child(2) i {
  background: #5c8af0;
}
.values .val-box:nth-child(3) i {
  background: #e45d99;
}
.values .val-box:nth-child(4) i {
  background: #74daec;
}

.values .val-box h3 {
  font-size: 18px;
  font-weight: 600;
}

.values .val-box span {
  font-size: 15px;
  color: #828997;
}

.board {
  width: 94%;
  margin: 30px auto 30px auto;
  overflow: auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px 20px 20px 0px;
  transition: 0.3s ease;
}

.board #p-order {
  font-size: 16px;
  text-transform: uppercase;
  margin: 15px 10px;
  font-weight: 600;
  color: #1e88e5;
}

.board #show {
  margin-right: 2px;
}

.show-search {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.show-search select {
  border: 1px solid rgb(55, 55, 55);
  border-radius: 2px;
}

.board table {
  border-collapse: collapse;
  margin-bottom: 10px;
}

.board table tr,
.board table tr:first-child {
  /* border-bottom: 1px solid rgb(134, 141, 151); */
  /* border-bottom: 1px solid #eef0f3; */
}

.board table tr:last-child {
  border-bottom: none;
}

.board table tr td:first-child {
  width: 20%;
  text-align: right;
}
.board table tr td input {
  width: 100%;
  background-color: #fafafa;
  padding: 10px;
}

.board table tr td label {
  /* font-weight: 500; */
}

.board tbody td {
  /* font-weight: 600; */
  /* font-size: 14px; */
  /* padding: 8px; */
  /* font-size: 14px; */
}

.board thead tr {
}

thead td {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  background: #f9fafb;
  text-align: start;
  padding: 15px;
}

tbody tr td {
  padding: 10px 15px;
}

.aksi-btn:hover {
  /* box-shadow: 2px 2px 2px rgb(0, 55, 252); */
  transform: scale(1.1);
  transition: 0.5s;
}

/* Ipad */
@media screen and (max-width: 1209px) {
  .values .val-box {
    width: auto;
  }
}

@media screen and (max-width: 820px) {
  #menu {
    width: 220px;
    position: fixed;
    left: -220px;
    transition: 0.3s ease;
  }
  #menu.active {
    left: 0px;
  }

  #interface {
    width: 100%;
    margin-left: 0px;
    display: inline-block;
    transition: 0.3s ease;
  }
  #menu.active ~ #interface {
    width: calc(100% - 220px);
    margin-left: 220px;
    transition: 0.3s ease;
  }

  #interface .navigation {
    width: 100%;
  }

  .values {
    /* padding: 30px 30px 0 30px; */
    justify-content: flex-start;
    /* gap: 1px; */
  }

  .values .val-box {
    padding: 16px 20px;
    /* margin: 10px 20px 10px 0; */
  }

  .board {
    width: 92%;
    padding: 0;
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  .board table tr td label,
  .board table tr td input,
  .font-size {
    /* font-weight: 500; */
    font-size: 14px;
  }
}

@media screen and (max-width: 477px) {
  #interface .navigation {
    padding: 15px;
  }

  .i-name {
    /* padding: 30px 15px 0 15px; */
  }

  .values {
    padding: 15px 15px 0 15px;
    gap: 0px;
  }

  .values .val-box {
    width: 100%;
    margin: 8px 0;
  }

  .board {
    /* margin: 30px 15px 30px 15px; */
  }
}

/* KARYAWAN */
.tambah-btn {
  margin-left: 8px;
}

/* EDIT KARYAWAN */
#edit-username {
  background-color: #eee;
}

#edit-username:hover {
  cursor: not-allowed;
}

.font-kecil:hover {
  box-shadow: #0d6efd;
  transition: 0.5s;
}

/* Buat Laporan */
.radio-label {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

#radio-btn {
  display: inline;
  width: 14px;
  margin-right: 10px;
  /* align-items: flex-start; */
}

#radio-btn-2 {
  display: inline;
  width: 14px;
  margin-left: 30px;
  margin-right: 10px;
}

#deskripsi-laporan {
  height: 96px;
}
